@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@mixin wide-only {
    @media (min-width: 830px) { @content; }
}

@mixin narrow-only {
    @media (max-width: 830px) { @content; }
}

html, body, * {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 60em;
    padding: 2em;
    margin: auto;
}

body > header {
    display: none;
}

section {
    margin-top: 1em;
    display: inline-block;

    h2 {
        padding: 0.3em;
        background-color: #cdcdcd;
    }
}

article > header {
    $line-height: 1.5;
    $title-size: 1.3;

    line-height: $line-height;
    .name {
        font-size: $title-size * 1em;
        text-transform: uppercase;
    }

    @include wide-only {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;

        /**
         * HACK: flex column-breaks have virtually no browser support.
         * In the meantime, I have to manually calculate and set the correct height.
         * (num-lines * line-size * line-height)
         */
        height: (2 * 1 * $line-height) + (1 * $title-size * $line-height) * 1em;

        .name, .website, .email {
            text-align: right;
        }

    }
}

#tagline {
    width: 100%;

    h2 { display: none; }
    .description {
        text-align: center;
    }
}

#education {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .description {
        flex-grow: 2;
        text-align: end;
    }
}

#skills, #work-experience {

    @include wide-only {
        float: left;
        width: 50%;

        h2 {
            width: 100%;
        }

        section {
            display: block;
        }
    }
}

#projects {

    h2 {
        position: relative;

        @include wide-only {
            &:after {
                content: '';
                display: block;
                position: absolute;
                background-color: white;

                top: 0;
                left: 25%;
                width: 3px;
                height: 100%;
            }
        }
    }

    section {

        @include wide-only {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            max-height: calc(5 * 1em * 1.3);

            p.meta {
                width: 25%;

                &:after {
                    content: '';
                    display: block;
                    width: 0;
                    height: calc(1 * 1em * 1.3);
                }
            }

            p.description, .sites {
                width: 75%;
                padding-left: 0.5em;
            }
        }

        .sites span {
            min-width: 50%;
            float: left;

            &.secondary {
                text-align: end;
            }
        }
    }
}
